# certificates
/.localCert/certClientLocal_192_168_15_169.pem
/.localCert/keyClientLocal_192_168_15_169.pem

# Front end

/frontend/node_modules/


# Server

#    peerserver
/server/peerserver/node_modules/